{% extends "base.html" %}
<article>{% block content %}
    <header class="p-1 mb-5 bluish">
    <h1>About</h1>
</header>
    <div class="row">
        <div class="col">

            <div id="image" class="pic">
                <img src="https://0.academia-photos.com/23631166/16350915/16737134/s200_sagar.alande.jpg"
                     alt="Sagar Alande">
            </div>
            <div id="information" class="current">
                <p>Student Name: Sagar Alande</p>
                <p>College: NJIT</p>
                <p>Enrolled For: Master's</p>
                <p>Specialization In: Data Sciencee</p>
            </div>
        </div>

        <div class="col">
            <header class="p-1 mb-5 bluish" align="center">
                <a><strong>Professional Summary</strong></a>
            </header>
            <p>
                • Designed over 50+ high-level technical solutions based on the requirement analysis
            </p>
            <p>
                • Created over 25+ PL/SQL packages, 80+procedures, and functions for smooth functioning for Daily,
                Weekly,
                Monthly, and Quarterly reports
            </p>
            <p>
                • Developed Automated Python Jobs for ETL to minimize the manual errors and bring down the errors by 60%
            </p>
            <p>
                • Directed the offshore team of 6 highly talented and skilled professionals, to ensure timely delivery
                of
                high-quality products.
            </p>
        </div>
    </div>

    <div class="row">
        <header class="p-1 mb-5" align="center">
            <a><strong>AWARDS AND ACHIEVEMENTS</strong></a>
        </header>
        <p>
            • Won Ace Award is given by Accenture for excellent performance in Q4 2018
        </p>
        <p>
            • Recognized with Apex Award by Accenture for consistently striving to deliver beyond business objectives in
            Q2 & Q3 2017
        </p>
        <p>
            • Won 2nd Prize in a National Level Technical Festival of Shri Guru Gobind Singhji Institute of Engineering
            and Technology, Nanded, held March 13-15, 2015
        </p>
        <p>
            • Certified Oracle Autonomous Database Cloud 2019 Specialist, Oracle – April 2020-October 2021
        </p>
        <p>
            • Certified Oracle Cloud Infrastructure Foundations 2020 Associate, Oracle – April 2020-October 2021
        </p>
    </div>
</div>
{% endblock %}
</article>
